*.log
*.tmp
.env
/vendor/
/node_modules/
/.idea/
/.vscode/
/uploads/
/.deploy/
/storage/cache/
/landing/application/cache/*
!/landing/application/cache/index.html
!/landing/application/cache/.gitkeep
/landing/application/logs/*
!/landing/application/logs/index.html
!/landing/application/logs/.gitkeep
/master/application/cache/sessions/*
!/master/application/cache/sessions/index.html
!/master/application/cache/sessions/.gitkeep
/master/application/logs/*
!/master/application/logs/index.html
!/master/application/logs/.gitkeep
